
:root {
    --primary: #93c47d;
    --secondary: #d1d5e5;
    --pop: #b4802e;
}

/* removes default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic settings for body styling */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

/* start of styling for header */
header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--pop);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--secondary);
    padding: 10px;
    border: 5px solid var(--pop);
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 10px 5px;
    font-size: 20px;
    border-bottom: 3px solid var(--secondary);
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background: var(--pop);
    color: var(--primary);
    border-radius: 15px;
}




/* start of hero styling */
.hero {
    background-image: url("../images/istockphoto-1137996207-612x612.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 400px;
}

.hero .quote {
    font-size: 35px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: rgb(192, 185, 185);
}

.hero .quote #quote-text {
    font-size: 48px;
}


/* start of utility class styling */
.title {
    border-right: 5px solid var(--pop);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 48px;
}



/* about me section styling */
.about-me h2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}


/* start of My Projects styling */
.my-projects {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.my-projects h2 {
    color: var(--secondary);
}

.projects-grid-wrapper {
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}

.mock-website-frontend-for-an-ad-agency {
    grid-column: 1/2;
    grid-row: span 2;
    background-image: url("../images/pngtree-old-computers-sat-in-a-room-picture-image_2659115.jpg");
}

.filler-for-now {
    background-image: url("../images/carsshonk.jpg");
    background-position: 50% 15%;
}

.determine-if-having-eggs {
    background-image: url("../images/eggph.jpg");
    background-position: 60% 50%;
}

.current-moon-temperature {
    background-image: url("../images/7jxwc8dNejsvowwWTGfG2P-1200-80.jpg");
    grid-column: 1/2;
    grid-row: span 2; 
}

.assign-a-random-password {
    background-image: url("../images/binary_14.jpg");
}

.random-cat-photo-generator {
    background-image: url("../images/istockphoto-642094572-170667a.jpg");
}

.project-label {
    background-color:#6b4230;;
    color: var(--primary);
    padding: 10px;
}
/* contact information styling */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-contact-information {
    width: 105%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0;
    font-size: 25px;
    font-weight: bolder;
}

footer ul li {
    margin: 10px 20px;
    font-weight: bold;
}

footer ul li a{
    text-decoration: none;
    color: var(--primary);
    padding: 5px;
    font-weight: bold;
}

footer ul li a:hover {
    background: var(--pop);
    color: var(--secondary);
    border-radius: 15px;
}


/* media query for small screens, not sure if any of this works */
@media screen and (max-width: 760px) {
    .hero .quote {
        font-size: 30px;
        padding-right: 20px;
    }

    .hero .quote #quote-text {
        font-size: 36px;
    }

    .title h2 {
        font-size: 36px;
    }

    .about-me p {
        font-size: 18px;
        line-height: 1.4;
    }    
}

@media screen and (max-width: 560px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 70px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
    }

    .title {
        border-bottom: 6px solid var(--pop);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about-me p {
        font-size: 18px;
        line-height: 1.4;
        width: 100%;
        padding: 20px;
    }

    .my-projects {
        flex-direction: column;
        padding: 20px 0;
    }

    .projects-grid-wrapper {
        width: 100%;
        padding: 10px;
    }

    .projects-grid {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }

}


/* 3 4 28 32 78 131 158 159 172-176 182 ,239 bold or bolder now 243, 250 */

